Q1:-Explain the key features of Python that make it a popular choice for programming

In [ ]:
ANS:-
1. Readability and Simplicity:

Clear syntax: Python's syntax is designed to be easy to read and understand, reducing the learning curve for new programmers.
Indentation-based structure: Python uses indentation to define code blocks, making the structure more visually appealing and easier to follow.
English-like keywords: Python uses English-like keywords, making the code more intuitive and natural to understand.

2. Versatility:
    
Wide range of applications: Python can be used for various tasks, including web development, data analysis, scientific computing, machine learning, automation, and more.
Extensive libraries and frameworks: Python boasts a rich ecosystem of libraries and frameworks, such as NumPy, Pandas, TensorFlow, Django, and Flask, that provide powerful tools and functionalities for specific domains.


3. Community and Support:

Large and active community: Python has a vast and supportive community of developers who contribute to its growth and development.

Q2:Describe the role of predefined keywords in Python and provide examples of how they are used in a 
program

In [ ]:
ANS:-
1. Predefined keywords in Python are reserved words that have specific meanings within the language. They cannot be used as variable names or identifiers. These keywords are essential for defining the structure, control flow, and operations of Python programs.
2. Keywords are case-sensitive and cannot be redefined or overridden within a Python program.
3. Examples of keywords include if, else, while, for, def, class, import, try, except, return, True, False, None, etc.

In [3]:
if 3 > 2 :
    print("True")
else :
    print("False")

True

In [5]:
fruits = ["apple", "banana", "orange"]
for fruit in fruits:
    print(fruit)

apple
banana
orange

In [7]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [19]:
name="Pranab"
def greet(name):
    print("Hello, My name is" , name )

In [11]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [15]:
import math
result = math.sqrt(25)
result

5.0

In [ ]:
try:
    num = int(input("Enter a number: "))
    result = 10 / num
    print("Result:", result)

except ZeroDivisionError: Â  

    print("Error: Division by zero is not allowed.")

except ValueError:
    print("Error: Please enter a valid number.")

In [23]:
def add(x, y):
    return x + y

result = add(3, 5)
print(result)

8

In [25]:

if 5 > 3:
    print("True")
else :
    print("False")

True

Q3:- Compare and contrast mutable and immutable objects in Python with examples

In [ ]:
ANS:-
In Python, objects can be classified into two categories: mutable and immutable. The key difference lies in their ability to be modified after creation.


Mutable Objects:
Definition: Objects that can be changed after they are created.
Examples: Lists, dictionaries, sets.

In [27]:
my_list = [1, 2, 3]
my_list.append(4)  # Modifying the list
print(my_list)

[1, 2, 3, 4]

In [29]:

my_dict = {"name": "Alice", "age": 30}
my_dict["age"] = 31  # Modifying the dictionary
print(my_dict)

{'name': 'Alice', 'age': 31}

In [ ]:
Immutable Objects:
Definition: Objects that cannot be changed once they are created.
Examples: Numbers (integers, floats), strings, tuples.

In [31]:
x = 5
x += 1  # Creates a new integer object with the value 6
print(x)

6

In [33]:
my_string = "Hello"
my_string = my_string + " world"  # Creates a new string object
print(my_string)

Hello world

Q4:-Discuss the different types of operators in Python and provide examples of how they are used

In [ ]:
ANS:-
1. Arithmetic Operators:

In [35]:
# Addition
result = 5 + 3
print(result)

8

In [37]:
# Subtraction
result = 10 - 4
print(result)

6

In [39]:
# Multiplication
result = 2 * 6
print(result)

12

In [41]:
# Division
result = 15 / 3
print(result)

5.0

In [43]:
# Floor Division
result = 17 // 5
print(result)

3

In [45]:
# Modulus
result = 17 % 5
print(result)

2

In [47]:
# Power
result = 2 ** 3
print(result)

8

In [ ]:
2.Comparison Operators

In [49]:
# Equal to
result = 5 == 5
print(result)

True

In [51]:
# Not equal to
result = 3 != 7
print(result)

True

In [53]:
# Greater than
result = 10 > 5
print(result)

True

In [55]:
# Less than
result = 2 < 8
print(result)

True

In [57]:
# Greater than or equal to
result = 7 >= 7
print(result)

True

In [59]:
# Less than or equal to
result = 4 <= 6
print(result)

True

In [ ]:
3. Logical Operators

In [61]:
# And
result = (5 > 3) and (2 < 4)
print(result)

True

In [63]:
# Or
result = (6 == 6) or (7 < 2)
print(result)

True

In [67]:
# Not
result = not (10 == 5)
print(result)

True

In [ ]:
4.Bitwise Operators

In [69]:
# Bitwise AND
result = 5 & 3
print(result)

1

In [71]:
# Bitwise OR
result = 5 | 3
print(result)

7

In [73]:
# Bitwise XOR
result = 5 ^ 3
print(result)

6

In [75]:
# Bitwise NOT
result = ~5
print(result)

-6

In [77]:
# Left shift
result = 5 << 2
print(result)

20

In [79]:
# Right shift
result = 10 >> 2
print(result)

2

In [ ]:
5.Membership Operators

In [81]:
# In
my_list = [1, 2, 3]
result = 2 in my_list
print(result)

True

In [83]:
# Not in
my_string = "hello"
result = "z" not in my_string
print(result)

True

In [ ]:
6.Identity Operators

In [85]:
# Is
x = 5
y = 5
result = x is y
print(result)

True

In [87]:
# Is not
my_list1 = [1, 2]
my_list2 = [1, 2]
result = my_list1 is not my_list2
print(result)

True

Q5:-Explain the concept of type casting in Python with examples

In [ ]:
ANS:-

Type casting is the process of converting a variable from one data type to another. Python provides built-in functions to perform type casting:
int(): Converts to an integer.
float(): Converts to a floating-point number.
str(): Converts to a string.
bool(): Converts to a boolean (True or False).

In [89]:
# Integer to Float
x = 5
y = float(x)
print(y)

5.0

In [91]:
# Float to Integer
x = 3.14
y = int(x)
print(y)

3

In [93]:
# String to Integer
x = "10"
y = int(x)
print(y)

10

In [95]:
# Integer to String
x = 25
y = str(x)
print(y)

25

In [97]:
# Boolean to Integer
x = True
y = int(x)
print(y)

1

Q6:-How do conditional statements work in Python? Illustrate with examples

In [ ]:
ANS:-
Conditional statements allow us to control the flow of our program based on certain conditions. Python uses the if, else, and elif keywords to create conditional statements.

In [99]:
# Simple if statement
age = 18
if age >= 18:
    print("You are an adult.")

You are an adult.

In [103]:
# if-else statement
x = 10
y = 5
if x > y:
    print("x is greater than y.")
else:
    print("x is less than or equal to y.")

x is greater than y.

In [105]:
# if-elif-else statement
grade = 85
if grade >= 90:
    print("Excellent!")
elif grade >= 80:
    print("Good job!")
else:
    print("Needs improvement.")

Good job!

In [107]:
# Nested if statements
is_raining = True
is_sunny = False
if is_raining:
    if is_sunny:
        print("It's a sunny day with rain.")
    else:
        print("It's a rainy day.")
else:
    print("It's not raining.")

It's a rainy day.

Q7:- Describe the different types of loops in Python and their use cases with examples.

In [ ]:
ANS:-Python offers three main types of loops to control the flow of execution: for loops, while loops, and nested loops.

In [109]:
# For Loop
fruits = ["apple", "banana", "orange"]
for fruit in fruits:
    print(fruit)

apple
banana
orange

In [111]:
# While Loop
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [113]:
# Nested Loop
for i in range(3):
    for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1